#new-itp-header {
  width: 100%;
  position: relative;
  z-index: 1000;
  box-sizing: border-box;
}
#new-itp-header * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0;
  border: 0;
}
/* ================================================ */
/* Nav 1 - Scott's Design */
/* ================================================ */
.nav-1 {
  font-family: 'Gotham', serif;
  font-size: '13pt';
}
.nav-1 * {
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}
.nav-1 a {
  text-decoration: none;
  cursor: pointer;
}
.nav-1 #top-bar {
  height: 4rem;
  width: 100%;
  background-color: #2c2c2c;
  color: #e3e5e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-1 #tisch-logo {
  width: 10rem;
  fill: #fff;
  margin: 0.5rem;
}
.nav-1 #im-logo {
  margin: 0.5rem;
}
/* explor button*/
.nav-1 #explore-button {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: bold;
  padding: 0.5rem;
  background-color: transparent;
  width: 10rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.nav-1 #explore-button:hover,
.nav-1 #explore-button:active {
  letter-spacing: 3px;
}
/* .nav-1 #dropdown {
  display: none;
} */
/*drop down menu*/
.nav-1 #dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.nav-1 #dropdown div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.nav-1 #dropdown div:hover {
  background-color: #ddd;
}
.show {
  display: block;
}

/* #E3E5E8 */
.nav-1 #bottom-bar {
  width: 100%;
  background-color: #62a9f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.4rem;
}
.nav-1 #bottom-bar ul {
  width: 60%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.nav-1 #bottom-bar ul li {
  height: fit-content;
}
.nav-1 #bottom-bar ul li a {
  display: block;
  color: white;
  font-size: 1.2rem;
  line-height: 1.2rem;
  height: auto;
  text-decoration: none;
  width: 10rem;
  text-align: center;
  transition: 0.2s;
}
.nav-1 #bottom-bar ul li a:hover {
  letter-spacing: 0.25rem;
}
/* ================================================ */
/* Nav 2 - MTA-inspired dropdown */
/* ================================================ */
#nav-2-bar {
  width: 100%;
  background-color: #e3e5e8;
  color: #4e4e4e;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gotham', serif;
}
#nav-2-bar #tisch-logo {
  height: 2rem;
  position: absolute;
  left: 0.75rem;
  top: 0.75rem;
}
#nav-2-bar #im-logo {
  height: 1.5rem;
  margin: 1.25rem;
}
#nav-2-bar #explore-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 3.5rem;
  padding: 1.25rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dedede;
  cursor: pointer;
  color: #4e4e4e;
  transition: 0.1s;
}
#nav-2-bar #explore-button:hover {
  background-color: #d6d6d6;
}
#nav-2-bar #map-icon {
  height: 1.2rem;
  margin-right: 0.5rem;
}
#nav-2-bar #explore-button:hover #dropdown {
  display: block;
}
#nav-2-bar #dropdown {
  position: absolute;
  right: 0;
  top: 3.5rem;
  background-color: white;
  width: 15rem;
  display: none;
  font-family: 'Gotham', serif;
}
#nav-2-bar #dropdown-header {
  background-color: #f17272;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}
#nav-2-bar .dropdown-detail-link {
  font-size: 0.95rem;
  padding: 0.5rem;
  color: #f17272;
  font-weight: 700;
  display: flex;
  align-items: center;
  border: 1px solid #f5f5f5;
  cursor: pointer;
}
#nav-2-bar .dropdown-detail-arrow {
  height: 1.1rem;
  width: 1.1rem;
  margin-right: 0.4rem;
  float: left;
}
#nav-2-bar .dropdown-topic-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#nav-2-bar .dtl-bar {
  height: 2.4rem;
  width: 0.4rem;
}
#nav-2-bar .dtl-text {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 800;
}
#nav-2-bar .dtl-1 {
  color: #7ba1a6;
}
#nav-2-bar .dtl-1 .dtl-bar {
  background-color: #7ba1a6;
}
#nav-2-bar .dtl-2 {
  color: #8d57c2;
}
#nav-2-bar .dtl-2 .dtl-bar {
  background-color: #8d57c2;
}
#nav-2-bar .dtl-3 {
  color: #6a6a6a;
}
#nav-2-bar .dtl-3 .dtl-bar {
  background-color: #6a6a6a;
}
/* ================================================ */
/* Nav 3 - Modal dropdown*/
/* ================================================ */
.nav-3 {
}
/* ================================================ */
/* Nav 4 - Pentagonal full-width*/
/* ================================================ */
.nav-4 {
}
/* ================================================ */
/* For testing purposes only– style navbar selector */
/* ================================================ */
#nav-selector {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.8);
}
#nav-selector .ns {
  float: left;
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
  transition: 0.2s;
}
#nav-selector .ns:hover {
  background-color: black;
}
#nav-selector .ns-selected {
  background-color: black;
}
